layout {

    focus-ring {
        active-color   "#f16a5b"
        inactive-color "#291614"
        urgent-color   "#dd2813"
    }

    border {
        active-color   "#f16a5b"
        inactive-color "#291614"
        urgent-color   "#dd2813"
    }

    shadow {
        color "#29161470"
    }

    tab-indicator {
        active-color   "#f16a5b"
        inactive-color "#991001"
        urgent-color   "#dd2813"
    }

    insert-hint {
        color "#f16a5b80"
    }
}

recent-windows {
    highlight {
        active-color "#f16a5b"
        urgent-color "#dd2813"
    }
}
